input{

}
#popup-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #e8f6ff; */
  background: #152331;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1b1b1b, #152331);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1b1b1b, #152331); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
  width: 35rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

#close-button {
  position: absolute;
  top: 12px;
  right: 14px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}

#close-button:hover {
  color: #555;
  background: none;
}

#back-button {
  position: absolute;
  top: 5px;
  left: 2%;
  background-color: #d9d9d9;
  cursor: pointer;
}

#back-button:hover {
  background-color: #c0c0c0;
}

#submit-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fffefe;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  margin: 10px;
}

#submit-button1 {
  border: none;
  background-color: #ffffff !important;
  border-radius: 5px;
  width: 10em;
  height: 3em;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    background-color: #d9d9d9;
    transform: scale(1.05);
  }
}

#submit-button1:disabled {
  background-color: #b9b7b700;
  cursor: not-allowed;
}

#habit-layout {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 1rem;
  overflow-y: hidden;
  max-height: fit-content;
}

#habit-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.habit-type {
  /* border: 5px solid black; */
  /* right: 15px; */
  background-color: #ffffff;
  border-radius: 360px;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#habit-window {
  /* border: 5px solid black; */
  /* background-color: #ffffff; */
  background-color: #898989 ;
  box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.5);
  outline: 1px solid white;
  width: 95%;
  border-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: 35em;
  /* height: 50em;
    width: 50em; */
}

#habit-window{
  &::-webkit-scrollbar {
    width: 0.5em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

#category-description {
  font-size: 24px;
}

.habit-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f1ecec;
  width: 90%;
  border-radius: 40px;
}

.habit-plus {
  background-color: #d9d9d9;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.habit-plus:hover {
  background-color: #c0c0c0;
}

#habit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 5px solid black; */
  width: 28em;
}

#create-habit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 5px solid black; */
  width: 100%;
  height: 100%;
}

#create-habit {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: #ffffff; */
  background-color: transparent;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 95%;
  border-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: 35em;
  /* border: 5px solid red; */
}

#create-habit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40em;
  /* border: 5px solid black; */
}

#habit-circle-created {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#habit-name-created {
  border: none;
  border-bottom: 1px solid black;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  color: black;
  /* border-color: black;
    border-style: transparent transparent solid transparent; */
  background-color: rgba(0, 0, 0, 0);
}

#habit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#habit-description {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  text-align: center;
  font-size: 18px;
  text-align: center;
  color: black;
  /* border-radius: 40px; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0);
  resize: none;
  height: 120px;
  /* height: 100px; */
}

#habit-form-first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #fffefe;
  /* outline: 0.1px solid black; */
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 85%;
  margin: 10px;
}

.line {
  background-color: black;
  height: 1px;
  width: 90%;
  flex-shrink: 0;
}

#habit-form-header{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-top: 1rem;
  width: 88%;
  margin-bottom: 10px;
}

#habit-form-second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 100%;
  background-color: #fffefe;
}

#habit-type-options-created {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  background-color: #ffffff;
  outline: 0.1px solid black;
  width: 30em;
  height: 50px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.habit-type-option1 {
  background-color: #d9d9d9;
  width: 10em;
  height: 50px;
  border-radius: 40px;
  font-size: 18px;
}

/* #build-option, #quit-option{
    color: black;
} */

#build-option {
  background-color: #5b5fb4;
  color: rgb(255, 255, 255);
}

#quit-option {
  background-color: #b9b7b700;
  color: rgba(0, 0, 0, 0.25);
}

#habit-form-third-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #fffefe;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  margin: 10px;
}

#goal-period {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#goal-period-inners{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
  /* justify-content: space-around; */
}

#goal-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#goal-value-inners{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

#value{
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 1px solid #767676;
}

#unit{
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 1px solid #767676;
}

#task-days-select {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 3em; */
  border: 1px solid black;
}

#habit-form-fourth-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fffefe;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  /* margin-bottom: 25px; */
  width: 100%;
  margin: 10px;
}

#reminder-time{
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #767676;
}

#reminder-message {
  text-align: center;
  font-size: 18px;
  text-align: center;
  color: black;
  /* border-radius: 40px; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  resize: none;
  height: 120px;
}

#priority1{
  color:black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

#habit-term {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-top: -10%;
}

#start-date-create{
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #767676;
}

#end-date-create{
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #767676;
}

#add-btn {
  width: 10em;
   /* background-color: rgb(203, 203, 203); */
  /* height: 5em; */
}

#habit-emoji {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
}

#emoji-picker {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  height: 25em;
  width: 100%;
  /* height: 1em;
    width: 1em; */
}

#emoji-picker:hover {
  border: transparent;
  background-color: rgba(255, 255, 255, 0.75);
}

h2,
p {
  color: black;
}
